{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Red Social{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'network/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="row">
            <div class="sidebar col-lg-2 col-md-3" id="side">
                <img src="https://res.cloudinary.com/deritgvde/image/upload/v1674143654/Compralo_gnamsn.png" width="80px">                
              <ul>
                {% if user.is_authenticated %}
                    <div>
                        <a href="#"><strong>{{ user.username }}</strong></a>
                    </div>
                {% endif %}
                    <div>
                        <a href="{% url 'index' %}">Inicio</a>
                    </div>
                {% if user.is_authenticated %}
                    <div>
                        <a href="#">Siguiendo</a>
                    </div>
                    <div>
                        <a href="{% url 'logout' %}">Salir</a>
                    </div>
                {% else %}
                    <div>
                        <a href="{% url 'login' %}">Ingresar</a>
                    </div>
                    <div>
                        <a href="{% url 'register' %}">Registrarse</a>
                    </div>
                {% endif %}
              </ul>
            </div>
            <div class="main col-lg-10 col-md-9" id="main">
                    {% block body %}
                    {% endblock %}
            </div>
        </div>
    </body>
</html>